body {
  overflow: hidden;
  background: #000;
  font-size: 20px;
}

.locales {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.locales #form-locales {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background: #fff;
  padding: 15px;
}

.locales #form-locales .form-state #state, .locales #form-locales .form-city #city{
  display: block;
  width: 200px;
  height: 32px;
  margin: 20px 0;
}


